@import url('http://fonts.cdnfonts.com/css/galiver-sans');

@font-face {
    font-family: "minecraft";
    src: url(fonts/minecraftfont.ttf);
}
body {
    background-image: url(images/grass.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    font-family: "minecraft", sans-serif;

  }
  
  #input {
    height: 600px;
    border: none;
    background-color: transparent;
    color: black;
    resize: none;
    font-size: 20px;
    font-family: 'minecraft';
    position: absolute;
    top: 16%;
    left: 25%;
    width: 47%;
    /* font-smooth: never; */
    outline: none;
    opacity: 0.8;
  }

  #book {
    width: 1000px;
  }
#buttons{
  display:flex;
  flex-direction: row-reverse;
}

#og {
  height: 75px;
  position: relative;
  right: -15%;
  bottom: 325px;
}

#ogB {
  height: 75px;
  position: relative;
  right:15%;
  bottom: 325px;
}

 #button {
  display: inline-flex;
  height: 50px;
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Minecraft';
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  opacity: 100%;
  border-radius: 15px;
}

#button:hover {
  background-color: grey;
}

#button:active {
  background: grey;
}

.button__text 
.button__icon {
  display:inline-flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
} */

#noteContainer{
  color:black;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  opacity: 0%;

}

#PageN {
  position: relative;
  bottom: 955px;
  font-size: 25px;
}

#button2 {
  display: inline-flex;
  height: 50px;
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Minecraft';
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  opacity: 100%;
  border-radius: 15px;
}

#button2:hover {
  background-color: grey;
}

#button2:active {
  background: grey;
}

#button3 {
  display: inline-flex;
  height: 50px;
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Minecraft';
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  opacity: 100%;
  border-radius: 15px;
}

#button3:hover {
  background-color: grey;
}

#button3:active {
  background: grey;
}

#button4 {
  display: inline-flex;
  height: 50px;
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Minecraft';
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  opacity: 100%;
  border-radius: 15px;
}

#button4:hover {
  background-color: grey;
}

#button4:active {
  background: grey;
}

#button5 {
  display: inline-flex;
  height: 50px;
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Minecraft';
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  opacity: 100%;
  border-radius: 15px;
}

#button5:hover {
  background-color: grey;
}

#button5:active {
  background: grey;
}